.figure-image {
    text-align: center;
}
.figure-image figcaption {
    color: var(--fbc-secondary-text);
    font-size: 0.8rem;
}

.wy-nav-content {
    max-width: 1600px;
}

figure.figure-image > a.glightbox > img {
    max-height: 200px;
}